<div
  class="relative flex items-center justify-center min-h-screen p-4 bg-gray-900"
>
  <div class="fixed inset-0 z-5">
    <img
      rel="preload"
      src="/Images/recoveryPasswordPageBg.webp"
      alt="Background"
      class="absolute inset-0 object-cover"
      fetchpriority="high"
      loading="eager"
    />
    <div class="absolute inset-0 bg-black/40 backdrop-brightness-50"></div>
  </div>

  <div
    class="bg-white/10 backdrop-blur-md rounded-2xl p-8 max-w-md w-full text-center text-white space-y-6 z-10"
  >
    <!-- Compact Back Arrow -->
    <a
      routerLink="/login"
      class="absolute top-4 left-4 z-20 hover:bg-white/20 p-2 rounded-full transition-colors cursor-pointer"
    >
      <svg
        class="w-5 h-5 text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 19l-7-7 7-7"
        />
      </svg>
    </a>
    <!-- End of back arrow button -->
    <h2 class="text-3xl font-bold">Reset Your Password</h2>

    <p class="text-base" *ngIf="!errorMessage && !successMessage">
      Create new password
    </p>

    <div *ngIf="errorMessage">
      <p class="text-base">
        {{ errorMessage }}
      </p>
    </div>

    <div *ngIf="successMessage">
      <p class="text-base">
        {{ successMessage }}
      </p>
    </div>

    <form class="space-y-4" [formGroup]="resetPasswordValidation">
      <div class="flex flex-col gap-0.5">
        <input
          type="password"
          name="password"
          placeholder="Create new password"
          class="w-full px-4 py-1 xl:py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300 caret-blue-500 placeholder:text-slate-600"
          formControlName="passwordVal"
          [ngClass]="{
            'border-slate-500':
              !resetPasswordValidation.controls.passwordVal.touched,
            'border-green-500':
              isPasswordValid &&
              resetPasswordValidation.controls.passwordVal.touched &&
              resetPasswordValidation.controls.passwordVal.value,
            'border-red-500':
              !isPasswordValid &&
              resetPasswordValidation.controls.passwordVal.touched
          }"
        />
        <div
          *ngIf="
            !isPasswordValid &&
            resetPasswordValidation.controls.passwordVal.touched &&
            resetPasswordValidation.controls.passwordVal.value
          "
        >
          <p class="text-red-500 text-xs xl:text-sm text-left">
            Password must be at least 8 characters, with at least one uppercase
            letter, one lowercase letter, and one number.
          </p>
        </div>
      </div>

      <div class="flex flex-col gap-0.5">
        <input
          type="password"
          name="confirmPassword"
          placeholder="Verify new password"
          class="w-full px-4 py-1 xl:py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 transition-all duration-300 caret-blue-500 placeholder:text-slate-600"
          formControlName="confirmPasswordVal"
          [ngClass]="{
            'border-slate-500':
              !resetPasswordValidation.controls.confirmPasswordVal.touched,
            'border-green-500':
              isConfirmPasswordValid &&
              resetPasswordValidation.controls.confirmPasswordVal.touched &&
              resetPasswordValidation.controls.confirmPasswordVal.value,
            'border-red-500':
              !isConfirmPasswordValid &&
              resetPasswordValidation.controls.confirmPasswordVal.touched
          }"
        />

        <div
          *ngIf="
            !isConfirmPasswordValid &&
            resetPasswordValidation.controls.confirmPasswordVal.touched &&
            resetPasswordValidation.controls.confirmPasswordVal.value
          "
        >
          <p class="text-red-500 text-xs xl:text-sm text-left">
            Passwords do not match.
          </p>
        </div>
      </div>

      <button
        type="submit"
        (click)="sendResetPassword()"
        class="w-full bg-blue-600 hover:bg-blue-700 transition text-white font-semibold py-2 rounded-lg cursor-pointer flex justify-center items-center gap-2"
        [disabled]="isLoading"
      >
        <span *ngIf="!isLoading">Apply</span>
        <span *ngIf="isLoading" class="flex items-center gap-2">
          <svg
            class="animate-spin h-5 w-5 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
        </span>
      </button>
    </form>
  </div>
</div>
