<form>
  <div></div>
  <div>
    <div>
      <input type="text" name="Fname" id="Fname" placeholder="First Name" />
    </div>
    <div>
      <input type="text" name="Lname" id="Lname" placeholder="Last Name" />
    </div>
    <div>
      <input type="text" name="email" id="email" placeholder="Email" />
    </div>
    <div>
      <input type="text" name="phone" id="phone" placeholder="Phone" />
    </div>
    <div>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <div>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        placeholder="Confirm Password"
      />
    </div>
    <div>
      <input type="button" value="Register" />
    </div>
  </div>
</form>
