@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #1e0342;
  --color-secondary: #334155;
  --color-random: #0f172a;
  --color-Green: #4ade80;
  --color-content: #f1f5f9;
}

.input-expanded {
  @apply lg:w-[600px];
}

.input-default {
  @apply w-64 lg:w-72;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
}

.cart-modal {
  animation: slideIn 0.3s ease forwards;
}

.cart-modal.ng-leave {
  animation: slideOut 0.3s ease forwards;
}
